{% extends 'gallery.html' %}
{% block title %} категории{% endblock %}
{% block content %}
    <div class="container">
        <div style="background: black;" class="alert alert-primary mr-5" role="alert">
            <p style="color: white;">{{ category.title }}</p>
            {% if category.parent == None %}
            <a href=""></a>
            {% else %}
            <p style="color: white;">{{ category.parent }}</p>
            {% endif %}
        </div>
    </div>
    <a href="{% url 'update_category' category.pk %}"><span
            class="badge rounded-pill " style="width: 65px; height: 30px; color: white;background: black;">Изменить</span></a>
    <a href="{% url 'delete_category' category.pk %}">
        <span class="badge rounded-pill " style="width: 65px; height: 30px; color: white;background: black;">Удалить</span></a>
{% endblock %}